.card {
font-family: 'Roboto', sans-serrif;
-webkit-box-shadow: 0px 2px 4px 0px rgba(158,158,158,1);
-moz-box-shadow: 0px 2px 4px 0px rgba(158,158,158,1);
box-shadow: 0px 2px 4px 0px rgba(158,158,158,1);
padding-left: 17px;
width: 35%;
height: auto;
font-size: 14px;
background-color: white;
text-align: left;
animation-duration: 5s;
animation-name: cards;
}

.chat-card {
font-family: 'Roboto', sans-serrif;
-webkit-box-shadow: 0px 2px 4px 0px rgba(158,158,158,1);
-moz-box-shadow: 0px 2px 4px 0px rgba(158,158,158,1);
box-shadow: 0px 2px 4px 0px rgba(158,158,158,1);
padding-left: 17px;
width: 550px;
height: 550px;
font-size: 14px;
background-color: white;
text-align: left;
animation-duration: 5s;
animation-name: cards;
}

@keyframes cards {
    from {
      margin-bottom: 100%;
      width: 35%;
    }

    to {
    margin-bottom: 0%;
    width: 35%;
    }
}

#headbar {
font-family: 'Roboto', sans-serrif;
height: 65px;
-webkit-box-shadow: 0px 4px 4px 0px rgba(158,158,158,1);
-moz-box-shadow: 0px 4px 4px 0px rgba(158,158,158,1);
box-shadow: 0px 4px 4px 0px rgba(158,158,158,1);
margin: 0px;
padding-left: 25px;
padding-top: 1px;
padding-bottom: 1px;
background-color: #3F51B5;
color: white;
animation-duration: 5s;
animation-name: header;
margin: 0px;
}

@keyframes header {
    from {
      margin-left: 100%;
      width: 100%;
    }

    to {
    margin-left: 0%;
    width: 300%;
    }
}

body {
margin: 0px;
}

p {
  overflow: hidden;
  max-width: 55ch;
}
